<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset = "utf-8">
        <title>
            first app
        </title>
    </head>
   //4
    <body>
        <h1>
            blablabalablablaba
        </h1>
        <div class="collegelist">
            {% if ck %}
            <table>
                <thead>
                <th>Rank</th>
                <th>Name</th>
                <th>Location</th>
                </thead>
                {% for item in ck %}
            <tr>
                <td> {{item.rank}} </td>
                <td> {{item.name}} </td>
                <td> {{item.location}} </td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>NO ACCESS RECORD FOUND</p>
            {% endif %}
        </div>
        <h1>
            blablabalablablaba
        </h1>
    </body>
</html>
